.App {
  min-height: 100vh;
  background-color: #ffffff;
}
#search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-bar {
  width: 50%;
  border: 1px solid rgb(187, 171, 171);
  padding: 10px;
}
#search-button {
  background-color: #ffb3b3;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.clothes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.row {
  width: 23%;
  box-shadow: 0 0 4px 3px lightpink;
  text-align: center;
  padding: 1.5em;
  margin-bottom: 2em;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  cursor: pointer;
}
.rounded {
  width: 80%;
}
.category,
.price {
  font-weight: bold;
  text-transform: capitalize;
  margin: 1em;
  font-size: 1.2rem;
}
